* {
  margin: 0;
  padding: 0;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  position: relative;
}

.cell {
  position: absolute;
  border-radius: 20%;
  aspect-ratio: 1;
}

.snake-segment {
  background-color: rgb(207, 43, 43);
}

.food {
  background-color: black;
}