* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001233;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

header h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 3em;
  padding: 1em;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.canvas {
  border: 1px solid white;
  width: 500px;
  height: 500px;
  position: relative;
}

.cell {
  position: absolute;
  border-radius: 20%;
  aspect-ratio: 1;
  transform: scale(0.9);
}

.snake-segment {
  background-color: #0466C8;
}

.snake-head {
  background-color: #c0c6cd;
  transform: rotate(45deg) scale(0.9);
}

.food {
  background-color: #979DAC;
  border-radius: 50%;
}

.score-board {
  border: 1px solid white;
  margin: 1em;
  margin-top: 0;
  padding: 0.5em 1em;
  min-width: 200px;
  font-size: 1.2em;
  line-height: 1.3em;
  color: white;
  text-transform: capitalize;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

.show-popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-heading {
  color: white;
  font-size: 2em;
}

.restart {
  margin: 2em;
  overflow: hidden;
}

.restart button {
  padding: 0.5em 1em;
  font-size: 1.5em;
}